{
  "openapi": "3.1.0",
  "info": {
    "version": "1.1.0",
    "title": "Traders Hub Trading Signals",
    "description": "Trading signals, news sentiment, and multi-timeframe analysis for any US stock ticker.\n\n## Endpoints\n\n- **`/v1/signal`** — BUY / SELL / HOLD recommendation with confidence score\n- **`/v1/sentiment`** — News sentiment scoring from recent headlines\n- **`/v1/multiframe`** — Trend alignment across daily, weekly, monthly\n- **`/v1/health`** — Public health check\n\n## Authentication\n\nPass your API key via `Authorization: Bearer <key>`. Get one from the developer portal.\n\n## Pricing Tiers\n\n- **Free**: 100 calls / day  (default — applied to all keys)\n- **Pro**: 10,000 calls / day  (assign in Zuplo dashboard via consumer metadata `tier=pro`)\n\n## Disclaimer\n\nFor informational purposes only. Not financial advice.",
    "contact": {
      "name": "Traders Hub Support",
      "email": "kobusmnel@gmail.com"
    }
  },
  "tags": [
    {
      "name": "Signals",
      "description": "Trading signal endpoints — recommendations, sentiment, and multi-timeframe analysis."
    },
    {
      "name": "System",
      "description": "System endpoints — health checks."
    }
  ],
  "components": {
    "schemas": {
      "Signal": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "example": "AAPL"
          },
          "signal": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL",
              "HOLD"
            ]
          },
          "confidence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "last_price": {
            "type": "number"
          },
          "indicators": {
            "type": "object",
            "properties": {
              "rsi": {
                "type": "number"
              },
              "rsi_status": {
                "type": "string"
              },
              "trend": {
                "type": "string",
                "enum": [
                  "uptrend",
                  "downtrend",
                  "sideways"
                ]
              }
            }
          },
          "as_of": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Sentiment": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string"
          },
          "sentiment": {
            "type": "string",
            "enum": [
              "bullish",
              "bearish",
              "neutral"
            ]
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "headlines_analyzed": {
            "type": "integer"
          },
          "bullish_count": {
            "type": "integer"
          },
          "bearish_count": {
            "type": "integer"
          },
          "neutral_count": {
            "type": "integer"
          },
          "sample_headlines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "publisher": {
                  "type": "string"
                },
                "link": {
                  "type": "string"
                },
                "score": {
                  "type": "integer",
                  "minimum": -1,
                  "maximum": 1
                }
              }
            }
          }
        }
      },
      "Multiframe": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string"
          },
          "verdict": {
            "type": "string",
            "enum": [
              "STRONG_BULLISH",
              "BULLISH",
              "MIXED",
              "BEARISH",
              "STRONG_BEARISH"
            ]
          },
          "confidence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "last_price": {
            "type": "number"
          },
          "timeframes": {
            "type": "object",
            "properties": {
              "daily": {
                "$ref": "#/components/schemas/TimeframeSnapshot"
              },
              "weekly": {
                "$ref": "#/components/schemas/TimeframeSnapshot"
              },
              "monthly": {
                "$ref": "#/components/schemas/TimeframeSnapshot"
              }
            }
          }
        }
      },
      "TimeframeSnapshot": {
        "type": "object",
        "properties": {
          "trend": {
            "type": "string",
            "enum": [
              "uptrend",
              "downtrend",
              "sideways",
              "unknown"
            ]
          },
          "rsi": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as `Authorization: Bearer <your-key>`."
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://traders-hub-main-14ac381.zuplo.app",
      "description": "Production gateway"
    }
  ],
  "paths": {
    "/v1/signal": {
      "get": {
        "summary": "Get a trading signal",
        "description": "**Returns a BUY / SELL / HOLD recommendation** with a confidence score (0-100), last price, and the underlying indicator values (RSI, trend). Works across stocks, crypto, forex, JSE, LSE, indices, and commodities.",
        "operationId": "get-signal",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            },
            "description": "Ticker symbol — works for stocks (AAPL), crypto (BTC-USD), forex (EURUSD=X), JSE (NPN.JO), LSE (TSCO.L), indices (^GSPC), commodities (GC=F)",
            "example": "AAPL"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1mo",
                "3mo",
                "6mo",
                "1y"
              ],
              "default": "3mo"
            },
            "description": "How much price history to analyse"
          }
        ],
        "responses": {
          "200": {
            "description": "Trading signal returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Signal"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Ticker not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Upstream price-data error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/signal${search}",
              "forwardSearch": false
            }
          },
          "policies": {
            "inbound": [
              "api-key-auth",
              "gateway-rate-limit"
            ]
          }
        },
        "tags": [
          "Signals"
        ]
      }
    },
    "/v1/sentiment": {
      "get": {
        "summary": "Get news sentiment",
        "description": "**Aggregates the most recent news headlines** for a ticker and returns a sentiment score (0-100, where 50 = neutral). Each headline is scored against a curated bullish/bearish lexicon and the overall sentiment is normalized to a single number.",
        "operationId": "get-sentiment",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            },
            "example": "TSLA",
            "description": "Ticker symbol — works for stocks (AAPL), crypto (BTC-USD), forex (EURUSD=X), JSE (NPN.JO), LSE (TSCO.L), indices (^GSPC), commodities (GC=F)"
          },
          {
            "name": "headlines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 50,
              "default": 20
            },
            "description": "How many recent headlines to analyse"
          }
        ],
        "responses": {
          "200": {
            "description": "Sentiment analysis returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sentiment"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "No recent news for ticker"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/sentiment${search}",
              "forwardSearch": false
            }
          },
          "policies": {
            "inbound": [
              "api-key-auth",
              "gateway-rate-limit"
            ]
          }
        },
        "tags": [
          "Signals"
        ]
      }
    },
    "/v1/multiframe": {
      "get": {
        "summary": "Multi-timeframe trend analysis",
        "description": "**Returns trend alignment** across daily, weekly, and monthly timeframes. When all three align in the same direction, you get a STRONG_BULLISH or STRONG_BEARISH verdict with high confidence — useful for filtering high-probability setups.",
        "operationId": "get-multiframe",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            },
            "example": "NVDA",
            "description": "Ticker symbol — works for stocks (AAPL), crypto (BTC-USD), forex (EURUSD=X), JSE (NPN.JO), LSE (TSCO.L), indices (^GSPC), commodities (GC=F)"
          }
        ],
        "responses": {
          "200": {
            "description": "Multi-timeframe analysis returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Multiframe"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Ticker not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/multiframe${search}",
              "forwardSearch": false
            }
          },
          "policies": {
            "inbound": [
              "api-key-auth",
              "gateway-rate-limit"
            ]
          }
        },
        "tags": [
          "Signals"
        ]
      }
    },
    "/v1/health": {
      "get": {
        "summary": "Health check",
        "description": "Verify the API and its upstream backend are alive. No API key required.",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "API is healthy"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/health${search}",
              "forwardSearch": false
            }
          }
        },
        "tags": [
          "System"
        ]
      }
    },
    "/signal": {
      "get": {
        "summary": "[Alias] Get a trading signal",
        "description": "**Returns a BUY / SELL / HOLD recommendation** with a confidence score (0-100), last price, and the underlying indicator values (RSI, trend). Works across stocks, crypto, forex, JSE, LSE, indices, and commodities. (Alias of /v1/signal)",
        "operationId": "get-signal-alias",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            },
            "description": "Ticker symbol — works for stocks (AAPL), crypto (BTC-USD), forex (EURUSD=X), JSE (NPN.JO), LSE (TSCO.L), indices (^GSPC), commodities (GC=F)",
            "example": "AAPL"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1mo",
                "3mo",
                "6mo",
                "1y"
              ],
              "default": "3mo"
            },
            "description": "How much price history to analyse"
          }
        ],
        "responses": {
          "200": {
            "description": "Trading signal returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Signal"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Ticker not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "502": {
            "description": "Upstream price-data error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/signal${search}",
              "forwardSearch": false
            }
          },
          "policies": {
            "inbound": [
              "api-key-auth",
              "gateway-rate-limit"
            ]
          }
        },
        "tags": [
          "Signals"
        ]
      }
    },
    "/sentiment": {
      "get": {
        "summary": "[Alias] Get news sentiment",
        "description": "Alias for /v1/sentiment — same behavior, kept for compatibility.",
        "operationId": "get-sentiment-alias",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            },
            "example": "TSLA",
            "description": "Ticker symbol — works for stocks (AAPL), crypto (BTC-USD), forex (EURUSD=X), JSE (NPN.JO), LSE (TSCO.L), indices (^GSPC), commodities (GC=F)"
          },
          {
            "name": "headlines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 50,
              "default": 20
            },
            "description": "How many recent headlines to analyse"
          }
        ],
        "responses": {
          "200": {
            "description": "Sentiment analysis returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sentiment"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "No recent news for ticker"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/sentiment${search}",
              "forwardSearch": false
            }
          },
          "policies": {
            "inbound": [
              "api-key-auth",
              "gateway-rate-limit"
            ]
          }
        },
        "tags": [
          "Signals"
        ]
      }
    },
    "/multiframe": {
      "get": {
        "summary": "[Alias] Multi-timeframe trend analysis",
        "description": "Alias for /v1/multiframe — same behavior, kept for compatibility.",
        "operationId": "get-multiframe-alias",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 12
            },
            "example": "NVDA",
            "description": "Ticker symbol — works for stocks (AAPL), crypto (BTC-USD), forex (EURUSD=X), JSE (NPN.JO), LSE (TSCO.L), indices (^GSPC), commodities (GC=F)"
          }
        ],
        "responses": {
          "200": {
            "description": "Multi-timeframe analysis returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Multiframe"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Ticker not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/multiframe${search}",
              "forwardSearch": false
            }
          },
          "policies": {
            "inbound": [
              "api-key-auth",
              "gateway-rate-limit"
            ]
          }
        },
        "tags": [
          "Signals"
        ]
      }
    },
    "/health": {
      "get": {
        "summary": "[Alias] Health check",
        "description": "Alias for /v1/health — same behavior, kept for compatibility.",
        "operationId": "health-alias",
        "responses": {
          "200": {
            "description": "API is healthy"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "anything-goes",
          "handler": {
            "export": "urlRewriteHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "rewritePattern": "https://traders-hub-signals.pplx.app/port/5000/health${search}",
              "forwardSearch": false
            }
          }
        },
        "tags": [
          "System"
        ]
      }
    },
    "/(.*)": {
      "x-zuplo-path": {
        "pathMode": "url-pattern"
      },
      "get": {
        "summary": "Catch-all 404 (helpful guidance + path logging)",
        "description": "",
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "default",
            "module": "$import(./modules/catch-all-404)",
            "options": {}
          },
          "policies": {
            "inbound": []
          }
        },
        "operationId": "catch-all-404"
      }
    }
  }
}